/*!
 * Base-Default (Style Modules Package)
 * LICENSE: Creative Commons Zero 1.0 (aka CC0 1.0)
 * https://github.com/style-modules/base-default
 */

:root {
  /* Global Text Variables */
  --text-color: hsl(0, 0%, 20%);
  --text-size: 1rem;
  --text-small-size: 80%;
  --text-font: system-ui, sans-serif;
  --text-font-sans-serif: system-ui, sans-serif;
  --text-font-serif: 'Georgia', 'Times New Roman', serif;
  --text-font-mono: 'Consolas', 'monaco', monospace;

  /* Text Heading Variables */
  --text-heading-scale: 0.5;
  --text-heading-thickness: normal;
  --text-heading-small-thickness: inherit;
  --text-heading-small-size: 60%;
  --text-heading-small-color: color(var(--text-color) lightness(+ 20%));

  /* Text Heading Font Sizes */
  --text-heading-1: calc(var(--text-size) * var(--text-heading-scale) * 3 + var(--text-size));
  --text-heading-2: calc(var(--text-size) * var(--text-heading-scale) * 2.6 + var(--text-size));
  --text-heading-3: calc(var(--text-size) * var(--text-heading-scale) * 2.4 + var(--text-size));
  --text-heading-4: calc(var(--text-size) * var(--text-heading-scale) * 2 + var(--text-size));
  --text-heading-5: calc(var(--text-size) * var(--text-heading-scale) * 1.6 + var(--text-size));
  --text-heading-6: calc(var(--text-size) * var(--text-heading-scale) * 1.2 + var(--text-size));

  /* Text Heading Spacing (Margins) */
  --text-heading-spacing: 2rem 0 0.5rem;
  --text-heading-1-spacing: var(--text-heading-spacing);
  --text-heading-2-spacing: var(--text-heading-spacing);
  --text-heading-3-spacing: var(--text-heading-spacing);
  --text-heading-4-spacing: var(--text-heading-spacing);
  --text-heading-5-spacing: var(--text-heading-spacing);
  --text-heading-6-spacing: var(--text-heading-spacing);
}
